<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      
      <add name="MenuAggregator.Properties.Settings.MenuAggregatorConnectionString"
          connectionString="Data Source=compasspowerbi; Initial Catalog=Sandbox; Persist Security Info=True; User Id=AGNESApplication; Password=Fluoxetine04!;" />
      <add name="MenuAggregator.Properties.Settings.BIConnectionString"
          connectionString="Data Source=compasspowerbi; Initial Catalog=BI; Persist Security Info=True; User Id=AGNESApplication; Password=Fluoxetine04!;" />
      
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>

<!-- This is for checking dataset data, the above connectionStrings are live ones-->
<!--<add name="MenuAggregator.Properties.Settings.MenuAggregatorConnectionString"
            connectionString="Data Source=compasspowerbi;Initial Catalog=Sandbox;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="MenuAggregator.Properties.Settings.BIConnectionString"
          connectionString="Data Source=compasspowerbi;Initial Catalog=BI;Integrated Security=True"
          providerName="System.Data.SqlClient" />-->
<!---->